{% extends "base.html" %}

{% block extra_head %}
<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table td, .table th {
        word-wrap: break-word;
        word-break: break-all;
    }
</style>
<script>
    let socket;
    window.onload = function() {
        const roomId = "{{ room._id }}";  // Ensure room._id is correctly passed to the template
        socket = new WebSocket(`ws://${window.location.host}/ws/${roomId}`);
        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            if (data.user_id) {
                console.log("Updating data for user:", data.user_id);
                document.querySelector(`#task_formulation_${data.user_id}`).innerText = data.task_formulation || "";
                document.querySelector(`#object_processing_${data.user_id}`).innerText = data.object_processing || "";
                document.querySelector(`#changeable_parameter_${data.user_id}`).innerText = data.changeable_parameter || "";
                document.querySelector(`#system_${data.user_id}`).innerText = data.system || "";
            }
        };
        socket.onerror = function(error) {
            console.error("WebSocket error observed:", error);
        };
    };
</script>
{% endblock %}

{% block content %}
<p>Кейс: {{ room.case }}</p>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for participant in room.participants %}
            <th>{{ participant.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Формулировка задачи</td>
            {% for participant in room.participants %}
            <td id="task_formulation_{{ participant.id }}">{{ participant.task_formulation }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Объект обработки</td>
            {% for participant in room.participants %}
            <td id="object_processing_{{ participant.id }}">{{ participant.object_processing }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Изменяемый параметр</td>
            {% for participant in room.participants %}
            <td id="changeable_parameter_{{ participant.id }}">{{ participant.changeable_parameter }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Система</td>
            {% for participant in room.participants %}
            <td id="system_{{ participant.id }}">{{ participant.system }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
