{% extends "base.html" %}

{% block extra_head %}
<script>
    let socket;
    window.onload = function() {
        const roomId = "{{ room_id }}";
        socket = new WebSocket(`ws://${window.location.host}/ws/${roomId}`);
        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            document.getElementById("participants").innerHTML = data.participants.map(participant => `
                <li class="list-group-item">${participant.name}: ${participant.about}</li>
            `).join('');
        };
    };
</script>
{% endblock %}

{% block content %}
<a href="/" class="btn btn-secondary mb-3">Назад к списку комнат</a>
<h1>Комната: {{ room.name }}</h1>
<h2>Участники</h2>
<ul id="participants" class="list-group"></ul>
<form action="/rooms/{{ room_id }}/next" method="post">
    <button type="submit" class="btn btn-primary mt-3">Далее</button>
</form>
{% endblock %}
